@model Product
@{ ViewBag.Title = "Product Details";}

<h2>@ViewBag.Title</h2>

<ul class="list-group">
    <li class="list-group-item">
        <label>Name:</label>
        @Model.Name
    </li>
    <li class="list-group-item">
        <label>Description:</label>
        @Model.Description
    </li>
    <li class="list-group-item">
        <label>Unit Price:</label>
        @Model.UnitPrice.ToString("C")
    </li>
    <li class="list-group-item">
        <label>Image:</label>
        <img scr="~/images/@Model.Image" alt="@Model.Name Image"
             title="@Model.ProductID | @Model.Name" />
    </li>
    <li class="list-group-item">
        <a asp-area="" asp-action="AddToCart" asp-controller="Product"
           asp-route-id="@Model.ProductID" asp-route-slug="@Model.Slug"
           class="btn btn-success">Add to Cart</a>

        <a asp-area="" asp-action="Display" asp-controller="Product"
           class="btn btn-danger">Back</a>
    </li>
</ul>