@model IEnumerable<Product>
@{ ViewBag.Title = "Products";}


@if (TempData["message"] != null)
 {
<script type="text/javascript">
        window.onload = function () {
            alert(@TempData["message"]);
        }
</script>
 }
<form asp-action="Add" asp-controller="Cart" method="post">

    <table class="table mt-2 table-warning table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Unit Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in Model)
            {
                <tr>
                    <td>
                        <a asp-area="" asp-action="Details" asp-controller="Product"
                           asp-route-id="@product.ProductID" asp-route-slug="@product.Slug">
                            @product.Name
                        </a>
                    </td>
                    <td>
                        <a asp-area="" asp-action="Details" asp-controller="Product"
                           asp-route-id="@product.ProductID" asp-route-slug="@product.Slug">
                            @product.Description
                        </a>
                    </td>
                    <td>@product.UnitPrice.ToString("C")</td>
                    <td>
                        <a asp-area="" asp-action="Details" asp-controller="Product"
                           asp-route-id="@product.ProductID" asp-route-slug="@product.Slug">
                            <img src="~/images/@product.Image" alt="Image of a product" />
                        </a>
                    </td>
                    <td>
                        <Label>Quantity</Label>
                        <select id="quantity" name="quantity" class="form-control">
                            @for (int index = 0; index <= 10; index++)
                            {
                                <option value="index">@index</option>
                            }
                            
                        </select>

                    </td>
                    <td>
                        @*<button type="submit" value="@product.ProductID" class="btn btn-outline-success">
                            Add to Cart
                        </button>*@
                        <button asp-area="" asp-action="Add" asp-controller="Cart" asp-route-id="@product.ProductID" class="btn btn-success">
                            Add to Cart
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>