@model IEnumerable<Product>
@{ ViewBag.Title = "Products";}

<table class="table mt-2 table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product product in Model)
        {
            <tr>
                <td>
                    <a asp-area="" asp-action="Details" asp-controller="Product"
                       asp-route-id="@product.ProductID" asp-route-slug="@product.Slug" id="grnTxt">
                        @product.Name
                    </a>
                </td>
                <td>
                    <a asp-area="" asp-action="Details" asp-controller="Product"
                       asp-route-id="@product.ProductID" asp-route-slug="@product.Slug" id="grnTxt">
                        @product.Description
                    </a>
                </td>
                <td>@product.UnitPrice.ToString("C")</td>
                <td>
                    <a asp-area="" asp-action="Details" asp-controller="Product"
                       asp-route-id="@product.ProductID" asp-route-slug="@product.Slug" id="grnTxt">
                        <img src="~/images/@product.Image" alt="Image of a product" />
                    </a>
                </td>
                <td>
                    <a asp-area="" asp-action="AddToCart" asp-controller="Product"
                       asp-route-id="@product.ProductID">
                        <i class="fa-shopping-cart"></i> 
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>