@model IEnumerable<OdersWebApp.Models.Product>
@{ ViewBag.Title = "Products";}

<a asp-area="Admins" asp-action="Add" asp-controller="Product" class="ml-2">Add Product</a>
<table class="table mt-2 table-striped table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Unit Price</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (OdersWebApp.Models.Product product in Model)
        {
            <tr>
                <td>
                    <a asp-area="Admins" asp-action="Details" asp-controller="Product"
                       asp-route-id="@product.ProductID" id="grnTxt">
                        @product.Name
                    </a>
                </td>
                <td>
                    <a asp-area="Admins" asp-action="Details" asp-controller="Product"
                       asp-route-id="@product.ProductID" id="grnTxt">
                        @product.Description
                    </a>
                </td>
                <td>@product.UnitPrice.ToString("C")</td>
                <td>
                    <a asp-area="Admins" asp-action="Details" asp-controller="Product"
                       asp-route-id="@product.ProductID" id="grnTxt">
                        <img src="~/images/@product.Image" alt="Image of a product" />
                    </a>
                </td>
            </tr>
          }
    </tbody>
</table>