@model IEnumerable<OdersWebApp.Models.Customer>
@{ ViewBag.Title = "Customers";}

<a asp-area="Admins" asp-action="Add" asp-controller="Customer" class="ml-2">Add Customer</a>
<table class="table mt-2 table-striped table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email Address</th>
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
        </tr>
    </thead>
    <tbody>
        @foreach (OdersWebApp.Models.Customer customer in Model)
        {
            <tr>
                <td>
                    <a aso-area="Admins" asp-action="Details" asp-controller="Customer"
                       asp-route-id="@customer.CustomerID" id="grnTxt">
                        @customer.CustomerFullName
                    </a>
                </td>
                <td>
                    <a asp-area="Admins" asp-action="Details" asp-controller="Customer"
                       asp-route-id="@customer.CustomerID" id="grnTxt">
                        @customer.PhoneNumber
                    </a>
                </td>
                <td>
                    <a asp-area="Admins" asp-action="Details" asp-controller="Customer"
                       asp-route-id="@customer.CustomerID" id="grnTxt">
                        @customer.EmailAddress
                    </a>
                </td>
                <td>@customer.Street</td>
                <td>@customer.City</td>
                <td>@customer.State</td>
                <td>@customer.Zipcode</td>
            </tr>
        }
    </tbody>
</table>